<configuration>
 <appSettings>
    <add key="PUBLIC_URL" value="https://nextjs.local" />
    <add key="SITECORE_API_HOST" value="https://demo102sc.dev.local" />
    <add key="SITECORE_API_KEY" value="{E3672619-2F35-49E9-A40B-4ECFE177A662}" />
</appSettings>
  <system.webServer>    
    <rewrite>
      <rules>
        <rule name="Shopping">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode node_env="production" nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" devErrorsEnabled="true" loggingEnabled="true" />

  </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
        </system.webServer>
    </location>
</configuration>